<h1>Bulk Discount New Page</h1>

<%= form_with url: merchant_bulk_discounts_path(@merchant), method: :post, local: true do |f| %>
  <%= f.label :percentage_discount, "Discount Percent" %>
  <%= f.text_field :percentage_discount %>

  <%= f.label :quantity_threshold, "Quantity Threshold" %>
  <%= f.text_field :quantity_threshold %>

  <%= f.submit "Create Discount"%>
<% end %>