<h1> Admin Invoice Info</h1>
<p>Invoice id: <%=@invoice.id%></p>
<p>Invoice status: <%=@invoice.status%></p>
<p>Invoice created date: <%=format_created_at(@invoice.created_at)%></p>
<p>Invoice customer name: <%=@invoice.customer.first_name%> <%=@invoice.customer.last_name%></p>
<p>Change Invoice status:</p>

<%= form_with url: admin_invoice_path(@invoice), method: :patch do |f| %>
    <%= f.label :invoice_status %>
    <%= f.select :status, [["In Progress", "in_progress"], ["Cancelled", "cancelled"], ["Completed", "completed"]], selected: @invoice.status, id: 'invoice_status' %>
    <%= f.submit "Update Invoice Status" %>
<% end %>


<h3>Total Revenue: <%=number_to_currency(@invoice.total_revenue)%></h3>